<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="far fa-check-circle"></i> Login success!
      </h1>
      <br />
      <h3>Here's your token:</h3>
      <br />
      <p style="border: 1px solid black; padding: 3px"><%= token %></p>

      <p class="lead mt-4">Back to <a href="/login">home</a></p>
    </div>
  </div>
</div>
